@import '../../../shared/less/property';
@import '../../../shared/less/sharedStyles';

:host {
    display: block;
    padding: @space * 3;
    border: 1px solid @border-color;
    border-radius: @radius;
}

.controls {
    display: flex;
    flex-wrap: wrap;

    margin-top: -@space * 2;
    margin-left: -@space * 2;
    margin-bottom: @space * 4;
}

.device {
    margin-top: @space * 2;
}

.action {
    margin-top: @space * 2;;
    margin-left: @space * 2;
}

.information {
    display: flex;
    flex-wrap: wrap;

    &_title {
        font-size: 24px;
    }

    &_device, &_experiment {
        flex: 1;
        margin: @space * 2 5px;
        min-width: 300px;
    }

    &__link {
        color: @dark-blue-color;
        cursor: pointer;
    }
}

.device,
.experiment {
    &_property {
        display: flex;
        align-items: center;
        overflow: hidden;
        padding: @space;

        &:hover {
            background-color: @grey-color;
        }

        &:first-of-type,
        &:not(:last-child) {
            border-bottom: 1px solid @border-color;
        }
    }
}

.property, .value {
    flex: 1 1 auto;
}

.property {
    flex: auto;
}

.value {
    flex: auto;
    text-align: right;
}
