<div class="controls">
    <app-button class="action"
                size="s"
                [disabled]="disabled"
                (click)="showGraph()">
        Апроксимация входных данных
    </app-button>
    <app-button class="action"
                size="s"
                [disabled]="disabled"
                (click)="showSpectre()">
        Сечение в изотропном потоке
    </app-button>
    <app-button class="action"
                size="s"
                [disabled]="disabled"
                (click)="runAgain()">
        Запустить еще раз
    </app-button>

    <app-button class="action"
                size="s"
                [disabled]="disabled"
                (click)="delete()">
        Удалить
    </app-button>
</div>

<div class="information">
        <span>Время выполнения:&nbsp;</span>
        <span *ngIf="!disabled; else loader">{{experiment?.calculatingTime}}&nbsp;с;</span>
</div>

<div class="information">
    <span class="information__link"
          (click)="openTextFilePreview('spectreFileText')">Файл ЛПЭ спектра</span>
</div>

<ng-template #loader>
    <span>Ожидание результата&nbsp;&nbsp;&nbsp;</span>
    <app-loader [showLoader]="true"
                [diameter]="20">&nbsp;
    </app-loader>
</ng-template>

<div class="information">
    <div class="information_experiment">
        <span class="information_title">Информация о расчете</span>

        <div class="experiment_property">
            <div class="property">SER</div>
            <div class="value"
                 [class.skeleton_text]="disabled">
                {{experiment?.ser}}
                <app-dimension [items]="[{dimension: 'день', power: -1}]"></app-dimension>
            </div>
        </div>

        <div class="experiment_property">
            <span class="property">Тип модели</span>
            <span class="value"
                  [class.skeleton_text]="disabled">&nbsp;{{experiment?.modelType | resultTranslate }}</span>
        </div>

        <div class="experiment_property">
            <span class="property">Тип расчета</span>
            <span class="value"
                  [class.skeleton_text]="disabled">&nbsp;{{experiment?.simulation | resultTranslate}}</span>
        </div>

        <ng-container *ngIf="!isBasic">
            <div class="experiment_property">
                <span class="property">Геометрия</span>
                <span class="value"
                      [class.skeleton_text]="disabled">&nbsp;{{experiment?.geometry | resultTranslate}}</span>
            </div>

            <div class="experiment_property">
                <span class="property">Амбиполярный диффузионный коэффициент</span>
                <span class="value"
                      [class.skeleton_text]="disabled">&nbsp;{{experiment?.ambipolarDiffCoeff | resultTranslate}}</span>
            </div>

            <div class="experiment_property">
                <span class="property">Диффузионный коэффициент</span>
                <span class="value"
                      [class.skeleton_text]="disabled">&nbsp;{{experiment?.diffCoeff | resultTranslate}}</span>
            </div>

            <div class="experiment_property">
                <span class="property">letValuesCount</span>
                <span class="value"
                      [class.skeleton_text]="disabled">&nbsp;{{experiment?.letValuesCount | resultTranslate}}</span>
            </div>

            <div class="experiment_property">
                <span class="property">Первый параметр</span>
                <span class="value"
                      [class.skeleton_text]="disabled">&nbsp;{{experiment?.par1 | resultTranslate}}</span>
            </div>

            <div class="experiment_property">
                <span class="property">Второй параметр</span>
                <span class="value"
                      [class.skeleton_text]="disabled">&nbsp;{{experiment?.par2 | resultTranslate}}</span>
            </div>

            <div class="experiment_property">
                <span class="property">Количество частиц</span>
                <span class="value"
                      [class.skeleton_text]="disabled">&nbsp;{{experiment?.particlesCount | resultTranslate}}</span>
            </div>

            <div class="experiment_property">
                <span class="property">Количество повторений</span>
                <span class="value"
                      [class.skeleton_text]="disabled">&nbsp;{{experiment?.trialsCount | resultTranslate}}</span>
            </div>
        </ng-container>
    </div>

    <div class="information_device">
        <span class="information_title">Информация об устройстве</span>

        <div class="device_property">
            <span class="property">Название</span>
            <span class="value"
                  [class.skeleton_text]="disabled">{{experiment?.device?.name}}</span>
        </div>

        <div *ngIf="experiment?.device?.producer"
             class="device_property">
            <span class="property">Производителей</span>
            <span class="value"
                  [class.skeleton_text]="disabled">{{experiment?.device?.producer}} </span>
        </div>

        <div *ngIf="experiment?.device?.technology"
             class="device_property">
            <span class="property">Технология</span>
            <span class="value"
                  [class.skeleton_text]="disabled">{{experiment?.device?.technology}} </span>
        </div>

        <div *ngIf="experiment?.device?.comment"
             class="device_property">
            <span class="property">Комментарий</span>
            <span class="value"
                  [class.skeleton_text]="disabled">{{experiment?.device?.comment}} </span>
        </div>

        <ng-container *ngIf="!isBasic">
            <div class="device_property">
                <span class="property">Проектная норма</span>
                <span class="value"
                      [class.skeleton_text]="disabled">{{experiment?.device?.processNode}} нм</span>
            </div>
            <div class="device_property">
                <span class="property">Напряжение питания</span>
                <span class="value"
                      [class.skeleton_text]="disabled">{{experiment?.device?.voltage}} В</span>
            </div>
            <div class="device_property">
                <span class="property">Сопротивление</span>
                <span class="value"
                      [class.skeleton_text]="disabled">{{experiment?.device?.resistance}} Ом</span>
            </div>
            <div class="device_property">
                <span class="property">Емкость</span>
                <span class="value"
                      [class.skeleton_text]="disabled">{{experiment?.device?.capacitance}} Ф</span>
            </div>
        </ng-container>
    </div>
</div>

