<app-loader [showLoader]="showLoader$ | async"
            [hasClose]="true"
            (closeLoader)="showLoader$.next(false)">
    <form class="form"
          [formGroup]="form"
          (submit)="onSubmit($event)">
        <h4 class="form_title">Данные для расчета</h4>

        <div class="actions">
            <app-button class="actions_button"
                        size="s"
                        (click)="clearForm()">
                Очистить форму
            </app-button>
            <app-button class="actions_button"
                        size="s"
                        (click)="onNewDevice()">
                {{!!device ? 'Добавить новое устройство': 'Выбрать устройство'}}
            </app-button>
        </div>

        <mat-form-field *ngIf="!!device; else newDevice"
                        class="form_control">
            <mat-select formControlName="device"
                        placeholder="Использовать существующее устройство"
                        [required]="true">
                <mat-option *ngFor="let device of devices$ | async"
                            [value]="device?.id">
                    {{device | devicePreview:isBasicUser}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="device?.invalid && device.touched">
                {{getErrors(device.errors)}}
            </mat-error>
        </mat-form-field>

        <ng-container *ngIf="!isBasicUser">
            <mat-form-field class="form_control">
                <mat-select formControlName="modelType"
                            placeholder="Выберите модель"
                            [required]="true">
                    <mat-option value="point">Точечная</mat-option>
                    <mat-option value="diffusion">Диффузионная</mat-option>
                     <mat-option value="thin">Тонкий слой</mat-option>
                </mat-select>
                <mat-error *ngIf="modelType?.invalid && modelType.touched">
                    {{getErrors(modelType.errors)}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form_control">
                <mat-select formControlName="simulation"
                            placeholder="Выберите тип моделирования"
                            [required]="true">
                    <mat-option value="analytical">Аналитический</mat-option>
                    <mat-option value="monte_carlo">Монте-Карло</mat-option>
                </mat-select>
                <mat-error *ngIf="simulation?.invalid && simulation.touched">
                    {{getErrors(simulation.errors)}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form_control">
                <mat-select formControlName="geometry"
                            placeholder="Выберите геометрию"
                            [required]="true">
                    <mat-option value="disc">Диск</mat-option>
                    <mat-option value="sphere">Сфера</mat-option>
                </mat-select>
                <mat-error *ngIf="geometry?.invalid && geometry.touched">
                    {{getErrors(geometry.errors)}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form_control">
                <input matInput
                       formControlName="diffCoeff"
                       placeholder="Диффузионный коэфициент, см2/c"
                       type="number"
                       [required]="true">
                <mat-error *ngIf="diffCoeff?.invalid && diffCoeff.touched">
                    {{getErrors(diffCoeff.errors)}}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form_control">
                <input matInput
                       formControlName="ambipolarDiffCoeff"
                       placeholder="Амбиполярный диффузионный коэфициент, см2/c"
                       type="number"
                       [required]="true">
                <mat-error *ngIf="ambipolarDiffCoeff?.invalid && ambipolarDiffCoeff.touched">
                    {{getErrors(ambipolarDiffCoeff.errors)}}
                </mat-error>
            </mat-form-field>
        </ng-container>

        <mat-slide-toggle class="manual-input-toggle"
                          [checked]="isManualInput"
                          [disableRipple]="true"
                          (change)="changeExperimentalDataType($event)">
            {{isManualInput ? 'Переключение на выбор файла' : 'Переключение на ручной ввод значений сечения эффекта'}}
        </mat-slide-toggle>

        <ng-container *ngIf="!isManualInput; else manualInputs">
            <app-input-file formControlName="experimentalData"
                            class="form_control"
                            tooltipInfo="Файлы расширения: .xslx, .txt, .dat"
                            [class.error_control]="experimentalData.invalid
                                    && experimentalData.touched"
                            [allowTypeFile]="allowTypes"
                            [required]="true">
                Экспериментальные значения сечения эффекта
            </app-input-file>
            <div *ngIf="experimentalData.invalid && experimentalData.touched"
                 class="error">
                {{getErrors(experimentalData.errors)}}
            </div>
        </ng-container>

        <app-input-file formControlName="spectre"
                        class="form_control"
                        [allowTypeFile]="['text/plain']"
                        [tooltipInfo]="'Файл расширения: .let&nbsp;(программа&nbsp;OMERE), .txt&nbsp;(программа&nbsp;COSRAD)'"
                        [class.error_control]="spectre.invalid && spectre.touched">
            ЛПЭ спектра
        </app-input-file>
        <div *ngIf="spectre.invalid && spectre.touched"
             class="error">
            {{getErrors(spectre.errors)}}
        </div>

        <app-button type="submit"
                    class="form_submit"
                    mode="primary">
            Запустить расчет
        </app-button>
    </form>
</app-loader>


<ng-template #manualInputs>
    <ng-container [formGroup]="form">
        <ng-container *ngFor="let manualInput of experimentalDataManual.controls; index as index;"
                      formArrayName="experimentalDataManual">
            <div class="form_row form_row_manual"
                 [formGroupName]="index">
                <mat-form-field class="form_control">
                    <input matInput
                           formControlName="lpe"
                           placeholder="ЛПЭ, МэВ*см^2/мг"
                           type="number"
                           [required]="true">
                    <mat-error
                        *ngIf="getControlInFormArray(index, 'lpe').invalid && getControlInFormArray(index, 'lpe').touched">
                        {{getErrors(getControlInFormArray(index, 'lpe').errors)}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form_control">
                    <input matInput
                           formControlName="section"
                           placeholder="Сечение, см^2"
                           type="number"
                           [required]="true">
                    <mat-error
                        *ngIf="getControlInFormArray(index, 'section').invalid && getControlInFormArray(index, 'section').touched">
                        {{getErrors(getControlInFormArray(index, 'section').errors)}}
                    </mat-error>
                </mat-form-field>
                <mat-icon *ngIf="experimentalDataManual.controls.length !== minManualInputs"
                          class="delete-control-icon"
                          (click)="removeManualControls(index)">close
                </mat-icon>
            </div>
        </ng-container>

        <div class="add-control-icon"
             (click)="addNewManualControl()">
            <mat-icon>add_box</mat-icon>
            <span>Добавить новые поля ЛПЭ и сечения</span>
        </div>
    </ng-container>
</ng-template>

<ng-template #newDevice>
    <ng-container [formGroup]="form">
        <ng-container formGroupName="newDevice">
            <div class="device-form">
                <div class="device-form__header">Новое устройство</div>
                <mat-form-field class="form_control">
                    <input matInput
                           formControlName="name"
                           placeholder="Название устройства"
                           [required]="true">
                    <mat-error *ngIf="name?.invalid && name?.touched">
                        {{getErrors(name?.errors)}}
                    </mat-error>
                </mat-form-field>

                <ng-container *ngIf="!isBasicUser">
                    <div class="form_row">
                        <mat-form-field class="form_control">
                            <input matInput
                                   formControlName="processNode"
                                   placeholder="Проектная норма, нм"
                                   type="number"
                                   [required]="true">
                            <mat-error *ngIf="processNode?.invalid && processNode?.touched">
                                {{getErrors(processNode?.errors)}}
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form_control">
                            <input matInput
                                   formControlName="voltage"
                                   placeholder="Напряжение питания, В"
                                   type="number"
                                   [required]="true">
                            <mat-error *ngIf="voltage?.invalid && voltage?.touched">
                                {{getErrors(voltage?.errors)}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form_row">
                        <mat-form-field class="form_control">
                            <input matInput
                                   formControlName="resistance"
                                   placeholder="Сопротивление, Ом"
                                   type="number"
                                   [required]="true">
                            <mat-error *ngIf="resistance?.invalid && resistance?.touched">
                                {{getErrors(resistance?.errors)}}
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form_control">
                            <input matInput
                                   formControlName="capacitance"
                                   placeholder="Емкость, пФ"
                                   type="number"
                                   [required]="true">
                            <mat-error *ngIf="capacitance?.invalid && capacitance?.touched">
                                {{getErrors(capacitance?.errors)}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </ng-container>

                <mat-form-field class="form_control">
                    <input matInput
                           formControlName="manufacturer"
                           placeholder="Производитель">
                    <mat-error *ngIf="manufacturer?.invalid && manufacturer?.touched">
                        {{getErrors(manufacturer?.errors)}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form_control">
                    <input matInput
                           formControlName="technology"
                           placeholder="Технология">
                    <mat-error *ngIf="technology?.invalid && technology?.touched">
                        {{getErrors(technology?.errors)}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form_control">
                <textarea matInput
                          formControlName="comment"
                          placeholder="Комментарий">
                </textarea>
                    <mat-error *ngIf="comment?.invalid && comment?.touched">
                        {{getErrors(comment?.errors)}}
                    </mat-error>
                </mat-form-field>
            </div>
        </ng-container>
    </ng-container>
</ng-template>
