@import '../../shared/less/property';
@import '../../shared/less/mixins';

@margin-mat-input: 12px;

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 40px;
}

.actions {
    text-align: right;
    margin-bottom: @space * 5;

    &_button {
        &:not(:first-child) {
            margin-left: @space * 2;
            margin-top: @space * 2;
        }
    }
}

.error:not(:last-child) {
    margin-bottom: @space * 2;
    font-size: 13px;
    color: @red-color;
}

.error_control {
    border: 1px solid @red-color;
}

.manual-input-toggle {
    margin-bottom: @space * 2;
}


.form_row_manual {
    position: relative;

    &:hover .delete-control-icon {
        opacity: 1;
    }
}

.delete-control-icon {
    .transition(all);
    position: absolute;
    top: ~'calc(50% - @{margin-mat-input})';
    right: -30px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;

    &:hover {
        color: @red-color;
    }
}

.add-control-icon {
    .transition(color);
    display: flex;
    align-items: center;
    margin-bottom: @space * 5;
    cursor: pointer;
    color: @text-muted;

    &:hover {
        color: @text-color;
    }
}

.device-form {
    border-top: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
    margin: @space * 2 0;
    padding: @space * 2;

    &__header {
        font-size: 24px;
    }
}
