<app-loader [showLoader]="showLoader">
    <form class="form form-small"
          [formGroup]="form"
          (submit)="onSubmit()">
        <h4 class="form_title">Регистрация</h4>

        <mat-form-field class="form_control">
            <input matInput
                   appAutoFocus
                   placeholder="Логин"
                   formControlName="username">
            <mat-error *ngIf="username?.invalid && username.touched">
                {{getErrors(username.errors)}}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form_control">
            <input matInput
                   placeholder="Почта"
                   formControlName="email">
            <mat-error *ngIf="email?.invalid && email.touched">
                {{getErrors(email.errors)}}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form_control">
            <input matInput
                   placeholder="Пароль"
                   type="password"
                   formControlName="password">
            <mat-error *ngIf="password?.invalid && password.touched">
                {{getErrors(password.errors)}}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form_control">
            <input matInput
                   placeholder="Подтвердите пароль"
                   type="password"
                   formControlName="passwordConfirm">
            <mat-error *ngIf="passwordConfirm?.invalid && passwordConfirm.touched">
                {{getErrors(passwordConfirm.errors)}}
            </mat-error>
        </mat-form-field>

        <app-button type="submit"
                    class="form_submit"
                    mode="primary"
                    tabindex="0">
            Зарегестрироваться
        </app-button>
    </form>
</app-loader>
