<div class="custom-table">
    <div class="table_header container-fluid">
        <div class="table_header_row row">
            <div class="table_header_cell col-1">&#8470;</div>
            <div class="table_header_cell col-4">
                <div class="sort"
                     [class.sort_active]="isCurrentSortField('device')"
                     (click)="sortBy('device')">
                    <span class="sort_name">Название устройства</span>
                    <mat-icon class="sort_icon"
                              [class.sort_icon_up]="getArrowUp('device')">arrow_drop_down
                    </mat-icon>
                </div>
            </div>
            <div class="table_header_cell col-4">
                <div class="sort"
                     [class.sort_active]="isCurrentSortField('createdExperiment')"
                     (click)="sortBy('createdExperiment')">
                    <span class="sort_name">Дата и время создания</span>

                    <mat-icon class="sort_icon"
                              [class.sort_icon_up]="getArrowUp('createdExperiment')">arrow_drop_down
                    </mat-icon>
                </div>
            </div>
            <div class="table_header_cell col-3">
                <div class="sort"
                     [class.sort_active]="isCurrentSortField('status')"
                     (click)="sortBy('status')">
                    <span class="sort_name">Статус</span>
                    <mat-icon class="sort_icon"
                              [class.sort_icon_up]="getArrowUp('status')">arrow_drop_down
                    </mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="table_body container-fluid">
        <ng-container *ngIf="(experiments$ | async)?.length; else emptyResults">
            <ng-container *ngFor="let experiment of experiments$ | async | sort:getSortBy; let index = index">
                <div class="table_row table_row_hover row"
                     (click)="onClick(experiment.id)">
                    <div class="table_cell col-1">{{index + 1}}</div>
                    <div class="table_cell col-4">{{experiment.device.name}}</div>
                    <div class="table_cell col-4">{{experiment.createdExperiment | toDate | date:'dd.MM.yyyy, HH:mm'}}
                </div>
                    <div class="table_cell col-3">
                        {{experiment | experimentState }}
                        <mat-progress-bar *ngIf="experiment.progress && experiment.status != 'finished'"
                                          class="progress-bar"
                                          mode="determinate"
                                          [value]="experiment.progress"></mat-progress-bar>
                    </div>
                </div>
                <div [@animate]
                     *ngIf="openIndexes.includes(experiment?.id)"
                     class="row">
                    <div class="table_cell table_cell_border-none col-12">
                        <app-results-preview [experiment]="experiment"></app-results-preview>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #emptyResults>
    <div class="empty-results">
        Вы не проводили эксперименты
    </div>
</ng-template>
