@import '../../shared/less/sharedStyles';
@import '../../shared/less/property';

:host {
    display: flex;
    justify-content: center;
}

.custom-table {
    margin: @space * 5 0;
}

.table_cell_border-none {
    border: none;
}

.progress-bar {
    align-self: flex-end;
}

.table_cell-flex {
    display: flex;
    flex-direction: column;
}

.sort {
    display: flex;
    align-items: center;
    cursor: pointer;

    &_icon {
        .transition(transform);
        opacity: 0;

        &_up {
            transform: rotate(-180deg);
        }
    }

    &_name {

    }

    &_active {
        & .sort_icon {
            opacity: 1;
        }
    }

    &:hover {
        & .sort_icon {
            opacity: 1;
        }
    }
}

.empty-results {
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    color: @text-muted;
    margin: @space * 4;
}
