<p>
    Масштаб оси X:
    <mat-button-toggle-group name="axisX"
                             aria-label="Font Style"
                             appearance="legacy"
                             [value]="xAxisPreview"
                             (change)="changeAxisPreview($event, 'axisX')">
        <mat-button-toggle *ngFor="let option of axisOptions"
                           [value]="option">{{option}}</mat-button-toggle>
    </mat-button-toggle-group>
</p>

<p>
    Масштаб оси Y:
    <mat-button-toggle-group name="axisY"
                             aria-label="Font Style"
                             appearance="legacy"
                             [value]="yAxisPreview"
                             (change)="changeAxisPreview($event, 'axisY')">
        <mat-button-toggle *ngFor="let option of axisOptions"
                           [value]="option">{{option}}</mat-button-toggle>
    </mat-button-toggle-group>
</p>

<div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
