<div class="menu">
    <div class="menu_link"
         routerLink="/"
         routerLinkActive="menu_link_active"
         [routerLinkActiveOptions]="{exact: true}">
        Главная
    </div>
    <ng-container *ngIf="isLogin$ | async; else logined">
        <div class="menu_link"
             routerLink="experiment"
             routerLinkActive="menu_link_active">
            Новый расчет
        </div>
        <div class="menu_link"
             routerLink="results"
             routerLinkActive="menu_link_active"
             [routerLinkActiveOptions]="{exact: true}">
            Результаты
        </div>
        <div class="menu_auth-zone">
            <div class="menu_link"
                 (click)="logout()">
                Выход
            </div>
        </div>
    </ng-container>

    <ng-template #logined>
        <div class="menu_auth-zone">
            <div class="menu_link"
                 routerLink="login"
                 routerLinkActive="menu_link_active"
                 [routerLinkActiveOptions]="{exact: true}">
                Вход
            </div>
            <div class="menu_link"
                 routerLink="signup"
                 routerLinkActive="menu_link_active"
                 [routerLinkActiveOptions]="{exact: true}">
                Регистрация
            </div>
        </div>
    </ng-template>
</div>
