@import '../../less/property';
@import '../../less/mixins';

:host {
    display: flex;
    align-items: center;
    min-height: @menuHeight;
    background-color: @dark-color;
    padding: @space;
}

.menu {
    display: flex;
    margin: 0 auto;
    width: 800px;

    .phone({
        flex-direction: column;
        width: 100%;
    });

    &_link {
        .transition(color);
        flex: 1 1 auto;
        max-width: 120px;
        padding: @space;
        text-align: center;
        color: @text-link-color;
        cursor: pointer;
        outline: none;

        &:hover {
            color: @text-link-color-hover;
        }

        & + & {
            position: relative;
            margin-left: @space * 2;
        }

        .phone({
            flex: 0 0 100%;
            max-width: 100%;
        });

        &_active {
            position: relative;
            color: @white-color;
        }
    }

    &_auth-zone {
        display: flex;
        flex-direction: row;
        color: @text-white-color;
        margin-left: auto;

        .phone({flex-direction: column; margin: 0;});
    }
}
