<div class="table mat-elevation-z8">
    <table mat-table
           [dataSource]="dataSource">
        <ng-container matColumnDef="Number">
            <th mat-header-cell *matHeaderCellDef>&#8470;</th>
            <td mat-cell *matCellDef="let element">{{element.Number}}</td>
        </ng-container>

        <ng-container matColumnDef="lpe">
            <th mat-header-cell *matHeaderCellDef>ЛПЭ&nbsp;
                [<app-dimension [items]="lpeDimension"></app-dimension>]
            </th>
            <td mat-cell *matCellDef="let element">{{element.lpe}}</td>
        </ng-container>

        <ng-container matColumnDef="section">
            <th mat-header-cell *matHeaderCellDef>Сечение&nbsp;
                [<app-dimension [items]="sectionDimension"></app-dimension>]
            </th>
            <td mat-cell *matCellDef="let element">{{element.section}}</td>
        </ng-container>

        <!--<ng-container matColumnDef="differentialFlux">-->
            <!--<th mat-header-cell *matHeaderCellDef>Дифференциальный поток<br>[cm-2.s-1.(Mev.cm2.g-1)-1]</th>-->
            <!--<td mat-cell *matCellDef="let element">{{element.differentialFlux}}</td>-->
        <!--</ng-container>-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
