.table {
    overflow: auto;
    margin: -24px;
    width: ~'calc(100% + 48px)';
    max-width: ~'calc(100% + 48px)';
}

table {
    width: 100%;
}

tr.mat-footer-row,
tr.mat-row {
    height: auto;
}
