<div class="jumbotron">
    <h1 class="title display-4">Главная</h1>
    <hr class="my-4">
    <p class="links lead">
        <a routerLink="experiment"
           class="link">Расчет частоты одиночных эффектов</a>
        <br>
        <a routerLink="results"
           class="link">Результаты</a>
    </p>
</div>
