@import '../../../../shared/less/property';
@import '../../../../shared/less/mixins';

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: ~'calc(100% - @{menuHeight})';
}

.jumbotron {
    background-color: transparent;
}


.link {
    color: @text-color;
}

.title {
    .phone({
        text-align: center;
    })
}

.links {
    text-align: right;

    .phone({
        text-align: center;
    })
}
