@import '../../less/property';
@import '../../less/mixins';

:host {
    display: inline-flex;
    box-sizing: border-box;

    &[_size='s'] {
        height: 36px;
        min-width: 50px;
    }

    &[_size='m'] {
        height: 44px;
        min-width: 88px;
    }

    &[_size='l'] {
        height: 56px;
        min-width: 100px;
        font-size: 1.35rem;
    }
}

.content {
    .transition(background-color);
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 @space * 4;
    border-radius: @radius;
    letter-spacing: inherit;
    text-transform: inherit;
    text-align: center;
    outline: 0;
    cursor: pointer;

    :host[_mode='default'] & {
        .actions(@dark-grey-color, @text-color);
        border: 1px solid @border-color;
    }

    :host[_mode='success'] & {
        .actions(@green-color, @text-white-color);
        border: 1px solid darken(@green-color, 8%);
    }

    :host[_mode='error'] & {
        .actions(@red-color, @text-white-color);
        border: 1px solid darken(@red-color, 8%);
    }

    :host[_mode='primary'] & {
        .actions(@blue-color, @text-white-color, 15%);
        border: 1px solid darken(@blue-color, 8%);
    }

    :host._disabled & {
        cursor: default;
        pointer-events: none;
        user-select: none;
        opacity: .56;
    }
}
