@import '../../less/property';

:host {
    display: flex;
    align-content: center;
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    color: @dark-grey-color;
    font-size: 14px;
}

.icon {
    color: @blue-color;
}

.error {
    color: @red-color;
}

.link {
    cursor: pointer;

    &:hover {
        text-decoration-line: underline;
    }
}
