<mat-icon class="icon"
          [class.error]="content.status === 'error'">
    {{content.status}}
</mat-icon>
<span>&nbsp;{{content.message}}</span>
<div *ngIf="content.experimentFinished">.&nbsp;
    <span class="link"
          (click)="showResult()">Подробнее</span></div>
&nbsp;
<mat-icon *ngIf="content.closer"
          class="close"
          (click)="close()">close
</mat-icon>
