{% extends 'base.html' %}

{% block content %}
   <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card login" style="border: 1px solid black">
        <div class="card-body">
          <h3 class="card-title">Добавить файл</h3>
          <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Добавить</button>
          </form>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
