{% extends 'base.html' %}

{% block content %}
  Привет, {{ user.username }}!
      <img src="https://im0-tub-ru.yandex.net/i?id=299cdbc2808c802115e2daa877470977-l&n=13"
           alt="проблемс?" width="100" height="100" >
      <br>
{#      <a href="{% url 'add_exp' %}">Провести эксперемент</a>#}
{#      <br>#}
      <a href="{% url 'add_file' %}">добавить эксперимент</a>
      <br>
{#      <a href="{% url 'check_exp' %}">Посмотреть результаты эксперементов</a>#}
{#      <br>#}
{% endblock %}
