{% extends 'base.html' %}

{% block title %}Сбросить пароль{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8 mt-5">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Сбросить пароль</h3>
          <p>Введите свой адрес электронной почты, и мы вышлем вам ссылку для сброса пароля.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Отправить код для сброса пароля</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
