:host {
    display: block;
    position: relative;
    text-align: center;
}

.icon {
    font-size: 100px;
    height: 100%;
    width: 100%;
}

.information {
    font-weight: 400;
}

.group {
    display: flex;
    margin-top: 16px;
}

.action {
    flex: auto;

    & + & {
        margin-left: 8px;
    }
}

.close {
    position: absolute;
    right: 0;
}
