<mat-icon class="close"
          (click)="close()">close</mat-icon>
<mat-icon class="icon">delete</mat-icon>
<h3 class="information">Удалить эксперимент?</h3>
<h5 class="information">Восстановление будет невозможным</h5>
<div class="group">
    <app-button class="action"
                (click)="onResponse(false)">Нет</app-button>
    <app-button class="action"
                (click)="onResponse(true)">Да</app-button>
</div>
