@import 'shared/less/property';
@import 'shared/less/mixins';
@import (css) url('https://fonts.googleapis.com/css?family=Ubuntu:400,500');

* {
    font-family: Ubuntu, Roboto, Serif, sans-serif;
    font-weight: 400;
}

html, body {
    height: 100%;
    background-color: #f5fffa !important;
}

body {
    overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.form {
    .phone({
        width: 100%;
    });

    max-width: 600px;
    padding: @space * 5;

    &_row {
        display: flex;
        flex-direction: row;

        & > .form_control + .form_control {
            margin-left: @space * 5;
        }
    }

    &_title {
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.2;
        margin-bottom: @space * 5;
    }

    &_control {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: @space * 3;
        }
    }

    &_submit {
        margin-top: @space * 5;
    }

    &_footer {
        text-align: center;
        padding: @space * 5;
        border-top: 1px solid @border-color;

        &_text {
            color: @text-muted;
            cursor: pointer;
        }
    }
}

.form-small {
    max-width: 450px;
}

.b-space-right_4 {
    margin-right: @space * 4;
}

.b-space-left_1 {
    margin-left: 4px;
}
