// position
.top-center() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.transition(@style; @speed: .4s) {
    transition: @style @speed ease;
}

.shadow() {
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

// hover - active
.actions(@color, @text-color, @prop: 3%) {
    background-color: @color;
    color: @text-color;

    &:hover {
        background-color: darken(@color, @prop);
    }

    &:active {
        background-color: darken(@color, @prop * 1.5);
    }

    &:focus {
        background-color: darken(@color, @prop);
    }
}

// media
.phone(@rules) {
    @media (max-width: 576px) {
        @rules();
    }
}
