@import './property';
@import './mixins';

.table {
    &_header_row, &_row {
        display: flex;
        flex-direction: row;
    }

    &_row_hover {
        cursor: pointer;

        &:hover {
            background-color: darken(@white-color, 5%);
        }
    }

    &_header_cell, &_cell {
        padding: @space * 2;
        font-weight: 300;
        overflow: hidden;

        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        word-break: break-word;
    }

    &_cell {
        border-top: 1px solid @border-color;
    }

    &_header_cell {
        color: @text-muted;
    }
}

.custom-table {
    .shadow();
    max-width: 1000px;
    background-color: @white-color;
    border: 1px solid @border-color;
    width: 100%;
}

.skeleton_text {
    position: relative;
    -webkit-text-fill-color: transparent;

    &:before {
        content: '';
        animation: background 2s linear infinite alternate;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 16px;
    }
}

@keyframes background {
    0% {
        background-color: @grey-color;
    }
    100% {
        background-color: darken(@grey-color, 4%);
    }
}
