<app-loader [showLoader]="showLoader">
    <form class="form form-small"
          [formGroup]="form"
          (submit)="onSubmit()">
        <h4 class="form_title">Вход</h4>
        <mat-form-field class="form_control">
            <input matInput
                   appAutoFocus
                   placeholder="Логин"
                   formControlName="username">
            <mat-error *ngIf="username?.invalid">
                {{getErrors(username.errors)}}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form_control">
            <input matInput
                   placeholder="Пароль"
                   type="password"
                   formControlName="password">
            <mat-error *ngIf="password?.invalid">
                {{getErrors(password.errors)}}
            </mat-error>
        </mat-form-field>

        <app-button type="submit"
                    class="form_submit"
                    mode="primary"
                    tabindex="0">
            Войти
        </app-button>
    </form>
</app-loader>
