@import '../../shared/less/property';
@import '../../shared/less/mixins';

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: ~'calc(100% - @{menuHeight})';
}
