<mat-progress-spinner *ngIf="showLoader"
                      mode="indeterminate"
                      class="loader"
                      [diameter]="diameter"></mat-progress-spinner>
<ng-content></ng-content>
<div *ngIf="showLoader && hasClose"
     class="close"
     (click)="closeLoader.emit($event)">
    <mat-icon>close</mat-icon>
</div>
