@import '../../less/mixins';
@import '../../less/property';

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.loader {
    position: absolute;
    z-index: 10;
}

.content {
    display: flex;
    align-self: flex-start;

    :host._event-blocker & {
        .transition(opacity);
        pointer-events: none;
        user-select: none;
        opacity: @opacity;
    }
}

.close {
    position: absolute;
    top: 0;
    right: 0;
}
